*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0d1b31;
    font-family: verdana;

}

#container{
    width:960px;
    /* border: 4px solid green; */
    margin:0 auto;
    border: 1px solid gray;
}

.bio{
    display: flex;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header > .logo {
    width: 100px;
}

#namedate{
    display: flex;
}

.about-me{
    display: flex;
    align-items: stretch;
}

.profile-pic{
    width: 160px;
}

.biohazard{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between; 
}
#namedate{
    display: flex;
    margin-left: 15px;
    justify-content: space-between;
    margin-left: 1 rem;
    font-size: larger;
    color: #BDECFC;
}
#namedate > .birthdate{
    font-size: 4 rem;
    font-family: cambria, serif;
    position: relative;
    top: -10px;
    color: #bbb;
    margin-top: 15px;
}
#choose{
    background-color: grey;
    margin-left: 1rem;
    padding: .5rem .5rem 1.5rem .5rem;
    font-size: larger;
    color: white;
}
#choose h4{
    margin-bottom: 1rem;
    color: #BDECFC;
}
.tech {
    padding: 10px;
    display: flex;
    justify-content: space space-between;
}

figure {
    width: 200px;
}
figure >img {
    max-width: 100px;
    height: 100px;
}

figcaption{
    text-align: center;
    font-size: 1.25rem;
    position: relative;
    bottom: 30px;
    color: white;
    background-color: rgba(3,3,3,.5);
    padding: 0.5rem;
    top: -20px;
}
.excited {
    color:#fff;
    margin-bottom: 20px;
}
.excited h2{
    color: #BEF2FF;
    margin: 2rem 0;
}
.excited div {
    background-color: #4A4949;
    padding: 1rem;
}
.excited div h4{
    color: #BEF2FF;
    margin-bottom: 1rem;
}
footer {
    font-size: x-large;
    color: #ffff;
    text-align: center;
    margin-bottom: 20px;
}

